name: Build Release Binaries

on:
  release:
    types:
      - created

jobs:
  build:
    name: Build Release Assets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: 1.25

      - name: Display the version of go that we have installed
        run: go version

      - name: Display the release tag
        run: echo ${{ github.event.release.tag_name }}

      - name: "DEBUG: What's our directory & what's in it?"
        run: pwd && ls

      - name: Build the Rodeo executables
        run: ./build-executables.sh ${{ github.event.release.tag_name }}

      - name: List the Rodeo executables
        run: ls -l ./release

      - name: Upload the Rodeo binaries
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ github.ref }}
          file: ./release/rodeo-*
          file_glob: true
